@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Raleway:wght@500;800&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

/* Colors and fonts */
body {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 100;
  background-image: url("images/home_background.jpg");
  background-size: cover;
  background-blend-mode: lighten;
}

/* body {
  line-height: 25px;
} */

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: rgb(56, 56, 56);
  font-size: 32px;
  font-weight: 900;
  /* line-height: 25px; */
}
h2 {
  color: rgb(56, 56, 56);
  font-size: 20px;
  font-weight: 500;
  /* line-height: 25px; */
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: rgb(220, 114, 95);
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: rgb(220, 114, 95, 0.5);
}


/* Custom design with class (99% of your design) */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn {
  background-color: rgb(220, 114, 95);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  /* text-decoration: none; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 500; */
}

.btn:hover {
  background-color: rgb(220, 114, 95, 0.5);
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 40px;
  color: rgb(220, 114, 95);
}
.list-inline i:hover {
  color: rgb(220, 114, 95, 0.5);
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
